/* CSS AQUI */
.referencias img {
  width: 100px;
}

/* Configuração de estilo geral da pagina: */
/* Estilo das Fontes: */
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.integrantes {
  font-family: "Lato", sans-serif;
}
/* Estilo das Fontes. */

/* Codigo de imagens em geral: */
.Imagem img {
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
}
/* Código para o Texto ficar na imagem: */
.titulo {
  top: 0;
  right: 0;
  position: absolute;
  color: white;
}

.Texto-img {
  top: 100px;
  right: 100px;
  position: absolute;
  padding-top: 100px;
  color: white;
}

/* Código para o Texto ficar na imagem. */
/* Codigo de imagens em geral. */

body {
  background-color: var(--bg-color);
}
/* Configuração de estilo geral da pagina. */

/* Codigo cabeçalho: */
/* Estilo logo: */
#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
}

#logo img {
  height: 75px;
}

.logo-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: white;
  margin-left: 10px;
  white-space: nowrap;
}
/* estilo logo. */

#info {
  position: fixed;
  right: 0;
  color: white;
  text-align: center;
}
/* Codigo cabeçalho. */


/* Codigo da imagem de fundo: */
#fundo img {
  top: 0;
  width: max-content;
  position: fixed;
}

/* Codigo da imagem de fundo. */

/* Codigo de cada participante: */

.github_G img {
  width: 25px;
  /* right: 3%; */
  /* position: fixed; */
  /* top: 5%; */
}

.youtube_ico img {
  width: 25px;
}

.github_M img {
  width: 25px;
  /* right: 3%; */
  /* position: fixed; */
  /* top: 10%; */
}

.github_A img {
  width: 25px;
  /* right: 3%; */
  /* position: fixed; */
  /* top: 15%; */
}

/* Codigo de cada participante. */

/* Codigo do icone de contatos: */

.Contatos img {
  width: 250px;
}

.Contatos {
  display: flex;
  justify-content: center;
}

/* Codigo do icone de contatos. */
