<!-- Footer -->
<footer
    class="text-center text-lg-start bg-body-tertiary text-muted footer-color"
>
    <!-- Section: Links  -->
    <section class="">
        <div
            class="container text-center text-md-start mt-5 footer-text"
        >
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bx bxs-tree-alt"></i>Free energy
                    </h6>
                    <p>
                        Sistema que monitora fontes renováveis, como
                        energia solar e eólica, proporcionando
                        controle detalhado e análise de produção e
                        consumo.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Links rápidos
                    </h6>
                    <p>
                        <a href="/" class="text-reset">Home</a>
                    </p>
                    <p>
                        <a href="/login" class="text-reset">Login</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div
                    class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4"
                >
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contato
                    </h6>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        bluescreenupx@gmail.com
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
    >
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="/">Free Energy</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
