<<<<<<< HEAD
/* Codigos de fontes de titulos: */
.fonte-titulo {
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Codigos de fontes de titulos. */

/* Codigos de fontes de texto: */
.fonte-texto {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Codigos de fontes de texto. */

.fonte-texto2 {
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --bg-color: rgba(240, 235, 214, 1);
    --menu-background: rgba(26, 26, 26, 1);
    --text-color: rgba(0, 0, 0, 1);
    --verde-escuro: rgba(0, 48, 27, 1);
    --verde: rgba(15, 175, 0, 0.993);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#header {
  align-items: center;
  justify-content: space-between;
  position: fixed; 
  box-sizing: border-box;
  height: 80px;
  padding: 1rem;
  display: flex;
  background: rgba(26, 26, 26, 1);
  top: 0;
  width: 100%;
  z-index: 1000;
}

.item-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 0.8rem;
  padding: 0;
  margin: auto;
}


.item-menu a {
  color: rgb(218, 218, 218);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: block;
  padding: 0 0.4em;
  font-size: 15px;
}

.item-menu p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  padding: 0 0.4em;
  font-size: 15px;
}

.item-menu a:hover {
  color: white;
  text-decoration: underline;
}


/* Fim estilo menu */

/* Começo estilo logo */
#logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
}

#logo img {
  height: 75px;
}

.logo-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: white;
  margin-left: 10px;
  white-space: nowrap;
}
/* Fim estilo logo */

/* Inicio rodape */
.rodape {
    position: relative;
    background-color: var(--menu-background);
    color: white;
    width: 100%; 
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    z-index: 10;
}

.rodape a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape_div {
    display: flex;         
    justify-content: space-between; 
    padding: 70px 20px 40px 20px;
    gap: 10px;
}

.rodape-div-coluna-1, .rodape-div-coluna-2, .rodape-div-coluna-3, .rodape-div-coluna-4 {
    flex: 1;
    padding: 20px;
  }
  
.rodape-div-1 {
    display: flex;
    padding: 10px;
    margin-top: -30px;
}

.rodape-div-coluna {
    flex: 1;               
    min-width: 150px;      
    padding: 10px;
    margin: 0;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-copyright {
    position: absolute;
    width: 100%;          
    background-color: black;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

#logo_footer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo_footer img {
    height: 60px;
}

.logo-text-footer {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

.slogan {
    max-width: 250px;
}

/* Fim rodape */
  
>>>>>>> 0050668a1c7a82e61b098ea4fcffb8b2ff817e99
