<%- include('partials/head.ejs')%>

<body>
    <%- include('partials/navbar.ejs')%>
    <div class="container mx-auto fade-in">
        <div class="row justify-content-center align-items-center">
            <div class="col-8 text-center texto">
                <h1>FreeEnergy</h1>
                <p>
                    Sistema de montiramento de fontes renováveis, como
                    energia solar e eólica, proporcionando controle
                    detalhado e análise de produção e consumo.
                </p>
                <a href="/login"
                    ><button class="btn btn-custom">
                        Registrar-se
                    </button></a
                >
            </div>
        </div>
    </div>
    <div class="container fade-in">
        <div
            class="row justify-content-center align-items-center py-5"
        >
            <img
                src="/img/print.png"
                alt=" Print site"
                class="py-5"
            />
        </div>
    </div>
    <div class="container fade-in">
        <div class="row text-center texto">
            <h1>
                Sua ferramenta para controle de energias renovaveis
            </h1>
        </div>
        <div class="row text-center">
            <!-- Primeiro item -->
            <div class="col-md-4">
                <div class="feature-icon">
                    <img
                        src="/img/bar-chart-square-regular-240.png"
                        alt="Icon 2"
                        width="125px"
                    />
                </div>
                <h5 class="feature-title texto">
                    Monitoramento em Tempo Real
                </h5>
                <p class="feature-text texto">
                    Acompanhe a produção e o consumo de energia
                    renovável em tempo real, garantindo decisões
                    rápidas e precisas.
                </p>
            </div>
            <!-- Segundo item -->
            <div class="col-md-4">
                <div class="feature-icon">
                    <img
                        src="/img/file-find-regular-240.png"
                        alt="Icon 2"
                        width="125px"
                    />
                </div>
                <h5 class="feature-title texto">
                    Análises Detalhadas
                </h5>
                <p class="feature-text texto">
                    Acesse gráficos para entender o desempenho de cada
                    dispositivo ao longo do tempo.
                </p>
            </div>
            <!-- Terceiro item -->
            <div class="col-md-4">
                <div class="feature-icon">
                    <img
                        src="/img/tree-alt-solid-240.png"
                        alt="Icon 2"
                        width="125px"
                    />
                </div>
                <h5 class="feature-title texto">
                    Gestão Sustentável
                </h5>
                <p class="feature-text texto">
                    Otimize suas operações com dados precisos sobre
                    fontes renováveis, promovendo práticas alinhadas à
                    sustentabilidade.
                </p>
            </div>
        </div>
    </div>
    <div class="container py-5 fade-in">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-center">
                <h1 class="texto-final">
                    Registre-se agora para acessar o Dashboard e ter
                    maior controle sobre seus dispositivos
                </h1>
                <p class="texto-final-p">
                    Esteja preparado para qualquer acontecimento com
                    seus dispositivos
                </p>
                <a href="/login"
                    ><button class="btn btn-custom">
                        Registrar-se
                    </button></a
                >
            </div>
        </div>
    </div>
    <%- include('partials/rodape.ejs')%>
</body>
<%- include('partials/footer.ejs')%>
