<!DOCTYPE html>
<html lang="ptbr">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Free Energy - Login</title>
        <link rel="stylesheet" href="/css/style_login.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="/img/logo.ico"
            type="image/x-icon"
        />
    </head>
    <body>
        <div class="container">
            <div class="form-box login">
                <form action="/logado" method="post">
                    <h1>Login</h1>
                    <div class="input-box">
                        <input
                            type="text"
                            name="nomeLogin"
                            id="username"
                            placeholder="Nome"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            name="senhaLogin"
                            id="login-password"
                            placeholder="Senha"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <div class="esqueceu-senha">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
            <div class="form-box cadastro">
                <form action="/cadastro-user" method="post">
                    <h1>Registrar-se</h1>
                    <div class="input-box">
                        <input
                            type="text"
                            name="nome"
                            id="register-username"
                            placeholder="Nome"
                            required
                        />
                        <i class="bx bxs-user"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="email"
                            name="email"
                            id="register-email"
                            placeholder="Email"
                            required
                        />
                        <i class="bx bxs-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input
                            type="password"
                            name="senha"
                            id="register-password"
                            placeholder="Senha"
                            required
                        />
                        <i class="bx bxs-lock-alt"></i>
                    </div>
                    <button type="submit" class="btn">
                        Registrar-se
                    </button>
                </form>
            </div>
            <div class="toggle-box">
                <div class="toggle-painel toggle-left">
                    <h1>Olá! Seja bem vindo!</h1>
                    <p>Não tem uma conta ainda?</p>
                    <button class="btn cadastro-btn">
                        Registrar-se
                    </button>
                </div>
                <div class="toggle-painel toggle-right">
                    <h1>Bem vindo de volta!</h1>
                    <p>Ja tem uma conta?</p>
                    <button class="btn login-btn">Login</button>
                </div>
            </div>
        </div>
        <script
            type="text/javascript"
            src="/js/login-script.js"
        ></script>
    </body>
</html>
