body {
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(235, 255, 235));
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed; /* Fixa o menu na tela */
  top: 0;
  left: 0;
  background-color: seagreen;
  min-height: 100vh; /* Garante que o menu ocupe toda a altura da tela */
  padding: 20px;
  width: 250px; /* Defina uma largura para o menu */
  z-index: 1000; /* Certifique-se de que o menu esteja acima de outros elementos */
}

.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: rgba(255,255,255,0.1);
}

.main-content {
  margin-left: 250px; /* Espaço suficiente para o menu fixo */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transição suave para o menu responsivo */
}

@media (max-width: 767.98px) {
  .sidebar {
      left: -100%; /* Esconde o menu */
      width: 280px; /* Largura do menu no modo responsivo */
  }
  
  .sidebar.show {
      left: 0; /* Mostra o menu */
  }
  
  .main-content {
      margin-left: 0; /* Remove a margem em telas pequenas */
  }
}

/* Força todos os cards a terem a mesma altura */
.card {
  display: flex;
  flex-direction: column; /* Garante que o conteúdo do card se alinhe verticalmente */
  justify-content: space-between; /* Distribui o espaço interno */
  height: 100%; /* Todos os cards terão a mesma altura */
  min-height: 130px; /* Ajuste de acordo com a sua necessidade */
}

/* Garante que os textos não forcem alturas diferentes */
.card-title, .card-text {
  margin: 0; /* Remove margens desnecessárias */
  text-align: center; /* Alinha o conteúdo */
  word-wrap: break-word; /* Quebra de palavras longas */
}
