/* style_dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(235, 255, 235));
}
  
.container-sidebar {
    display: flex;
    width: 100%;
}
  
.sidebar {
  position: fixed; /* Fixar a sidebar */
  top: 0; /* Alinhar ao topo */
  left: 0; /* Alinhar à esquerda */
  background-color: #007f4f;
  color: white;
  width: 250px;
  height: 100vh; /* Ocupa toda a altura da tela */
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Adiciona rolagem se necessário */
  z-index: 1000; /* Garantir que a sidebar fique acima do conteúdo */
}
  
  .sidebar h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .sidebar img {
    width: 100px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .sidebar button {
    margin-top: auto;
    padding: 10px;
    background-color: #009b6d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .dashboard {
    width: 100%;
    margin-left: 250px; /* Deixa o espaço para a sidebar */
    padding: 20px;
    background-color: #f0f4f7;
    position: relative; /* Evita sobreposição */
  }

  .container-cards {
    color: white;
    /* padding: 50px; */
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .cards-relatorio {
    display: flex;
    justify-content: center;
    align-items: wrap;
  }

  .card-relatorio {
    background:seagreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 10px;
    width: 150px;
    text-align: center;
    border-radius: 25px ;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    
  }
  
  .chart-container {
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sub-menu {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

.sub-menu li {
    margin-bottom: 5px;
}
