/* CSS - Sobre Nos - Free Energy */

/* Começo titutlo */
.titulo {
    padding: 70px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo h2{
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    font-style: normal;
}

.titulo p {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    max-width: 600px;

}
/* Fim titulo */

/* Inicio estilo menu saiba mais */
.menu-link ul {
    margin-top: 100px;
    /* padding: 70px; */
    display: flex;
    list-style: none;
}
  
.menu-link ul li {
    margin-right: 20px;
}
  
.menu-link ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}

.menu-link ul li a:hover {
    color: black;
}
  
.menu-link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -17.5px;
    left: 0;
    transition: width 0.2s ease-in-out;
    z-index: 1;
}
  
.menu-link a.active::after,
.menu-link a:hover::after {
    width: 100%;
}

#linha {
    margin-top: 20px;
    position: relative;
    z-index: 0;
}
  
/* Fim estilo menu saiba mais */

/* Inicio estilo conteudo da pagina */
body{
    width: 100%;
    min-height: 100vh;  
    padding-top: 80px;
    background: var(--bg-color);
  }


/* Começo estilo conteudo Por que gerar energia pelas arvores? */
.motivo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.motivo-porque { 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 90%;
    text-align: center;
}
.motivo-porque.visible {
    opacity: 1;
    transform: translateY(0); 
}

.motivo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-bottom: 1rem;
}

.motivo p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

/* Fim estilo conteudo - Por que gerar energia pelas arvores? */

/* Começo estilo - Beneficios */
.beneficios-energia {
    padding: 70px 0;
    /* background-color: var(--bg-color); */

}

.beneficios-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
}

.beneficios-container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2rem;
}

.beneficios-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.card img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin-bottom: 20px;
}

.card h3 {
    font-family: "Roboto", sans-serif;
    color: black;
    margin-bottom: 10px;
}

.card p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 1.2rem;
    line-height: 1.5;
}
/* Fim estilo - Beneficios */

/* Começo estilo - Como fazer isto */
.como-fazer-section {
    margin: 0;
    padding: 0;
}

.como-fazer{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding-bottom: 70px;
}

.como-fazer-text{ 
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

 .como-fazer-text a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2rem;
 }

 .como-fazer h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 10px;
 }

.como-fazer p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 2rem; 
    margin-bottom: 20px;
}


.video-explicativo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

iframe {
    width: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
/* Fim estilo - Como fazer isto */

/* Inicio uso */
.uso-text {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.uso-text h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    color: white;
    text-align: center;
}

.uso-text p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    line-height: 1.5;
    max-width: 800px;
    text-align: left;
}

.background-uso {
    width: 100%;
    background: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.imagem-floresta {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.imagem-floresta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--verde-escuro) 0%, rgba(34, 139, 34, 0) 50%);
    z-index: 2;
}

.imagem-floresta img {
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    z-index: -1;
}
/* Fim uso */