/* CSS - Sobre Nos - Free Energy */
html{
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.separa{
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    height: 2px;
}

/* Inicio estilo header */
/* Centralizando itens menu */
nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#header {
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    background: rgba(26, 26, 26, 1);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.item-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 0.8rem;
    padding: 0;
    margin: auto;
}


.item-menu a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: block;
    padding: 0 0.4em;
    font-size: 15px;
}

.item-menu a:hover {
    color: white;
    text-decoration: underline;
}


/* Fim estilo menu */

/* Começo estilo logo */
#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
}

#logo img {
    height: 75px;
}

.logo-text {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}
/* Fim estilo logo */



/* Começo titutlo */
.titulo {
    padding: 70px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo h2{
    font-family: "Roboto", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    font-style: normal;
}

.titulo p {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    max-width: 600px;

}
/* Fim titulo */

/* Inicio estilo menu saiba mais */
.menu-link ul {
    margin-top: 100px;
    /* padding: 70px; */
    display: flex;
    list-style: none;
}
  
.menu-link ul li {
    margin-right: 20px;
}
  
.menu-link ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
}

.menu-link ul li a:hover {
    color: black;
}
  
.menu-link a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -17.5px;
    left: 0;
    transition: width 0.2s ease-in-out;
    z-index: 1;
}
  
.menu-link a.active::after,
.menu-link a:hover::after {
    width: 100%;
}

#linha {
    margin-top: 20px;
    position: relative;
    z-index: 0;
}
  
/* Fim estilo menu saiba mais */

/* Inicio estilo conteudo da pagina */
body{
    width: 100%;
    min-height: 100vh;  
    padding-top: 80px;
    background: var(--bg-color);
  }


/* Começo estilo conteudo Por que gerar energia pelas arvores? */
.motivo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.motivo-porque { 
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 90%;
    text-align: center;
}
.motivo-porque.visible {
    opacity: 1;
    transform: translateY(0); 
}

.motivo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-bottom: 1rem;
}

.motivo p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: black;
    line-height: 1.5;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

/* Fim estilo conteudo - Por que gerar energia pelas arvores? */

/* Começo estilo - Beneficios */
.beneficios-energia {
    padding: 70px 0;
    /* background-color: var(--bg-color); */
}

.beneficios-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.beneficios-container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.beneficios-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
}

.card img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin-bottom: 20px;
}

.card h3 {
    font-family: "Roboto", sans-serif;
    color: black;
    margin-bottom: 10px;
}

.card p {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}
/* Fim estilo - Beneficios */

/* Começo estilo - Como fazer isto */
.como-fazer-section {
    margin: 0;
    padding: 0;
}

.background-como-fazer {
    width: 100%;
    color: white; 
    background: var(--verde-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}


.como-fazer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.como-fazer-text{ 
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

 .como-fazer-text a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2rem;
 }

 .como-fazer h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    margin-bottom: 10px;
 }

.como-fazer p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; 
    margin-bottom: 20px;
}

.floresta {
    width: 100vw;
    max-width: 1263px;
    height: 600px;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.floresta img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video-explicativo {
    position: relative;
    z-index: 2;
}

iframe {
    width: 100%;
    height: auto;
    max-width: 560px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
/* Fim estilo - Como fazer isto */

/* Inicio rodape */
.rodape {
    position: absolute;
    background-color: var(--menu-background);
    color: white;
    width: 100%; 
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.rodape a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape_div {
    display: flex;         
    justify-content: space-between; 
    padding: 70px 20px 40px 20px;
    gap: 10px;
}

.rodape-div-coluna-1, .rodape-div-coluna-2, .rodape-div-coluna-3, .rodape-div-coluna-4 {
    flex: 1;
    padding: 20px;
  }
  
.rodape-div-1 {
    display: flex;
    padding: 10px;
    margin-top: -30px;
}

.rodape-div-coluna {
    flex: 1;               
    min-width: 150px;      
    padding: 10px;
    margin: 0;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-copyright {
    position: absolute;
    width: 100%;          
    background-color: black;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

#logo_footer {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo_footer img {
    height: 60px;
}

.logo-text-footer {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

.slogan {
    max-width: 250px;
}

/* Fim rodape */